body{
    text-align: center;
    height: 100vh;
    overflow:hidden;
    background: linear-gradient(315deg, #6100e6, #da02d2);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menubutton{
    background-color: white;
    color:black;
    border: none;
    padding: 8px 16px;
    margin: 0px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-width:200px;
    border-radius: 10px;
    transition: 0.15s;
}

.menubutton:hover{
    background-color:#999999;
}

.title{
    margin:40vh 0px 30px;
    font-size: 30px;
    font-weight: bold;
}

.buttoncontainer{
    user-select: none;
}