/*
Forhindrer scrolling
*/
body{
    position:fixed;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

button{
    text-align:center;
    background-color: black;
    border: none;
    color: white;
    height: 60px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

button.shop{
    height: 100px;
    width: 160px;
    border-radius: 10px;
}